@page
@model Training.Pages.UserAccounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pollsters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pollsters.UserName" class="control-label"></label>
                <input asp-for="Pollsters.UserName" class="form-control" />
                <span asp-validation-for="Pollsters.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pollsters.Email" class="control-label"></label>
                <input asp-for="Pollsters.Email" class="form-control" />
                <span asp-validation-for="Pollsters.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pollsters.PoliticsId" class="control-label"></label>
                <input asp-for="Pollsters.PoliticsId" class="form-control" />
                <span asp-validation-for="Pollsters.PoliticsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
